html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root{
     --transiton:0.3s ease;
     --buttonColor:dodgerblue;
     --buttonHoverColor:#0080ff;
     --buttonActiveColor:#0066cc;
}

body{/*change this to app if you want*/
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 100vh;
     width: 100vw;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  transition: var(--transiton);
  -o-transition: var(--transiton);
  -ms-transition: var(--transiton);
  -moz-transition: var(--transiton);
  -webkit-transition: var(--transiton);
}

button{
  border: none;
  background-color: var(--buttonColor);
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
button:hover{background-color: var(--buttonHoverColor);}
button:active{background-color: var(--buttonActiveColor);}